.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 10vh;
  min-height: 60px;
  max-height: 80px;
  width: 100%;
  background: linear-gradient(135deg, #6b0092, #c236fd);
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  box-sizing: border-box;
  transition: background 0.3s ease;
}

.nav-links {
  display: flex;
  gap: 25px;
  list-style: none;
  align-items: center;
}

.nav-item a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  padding: 8px 16px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.nav-item a:hover {
  background: rgba(255, 255, 255, 0.2);
  color: #facc15;
}

.button-coins {
  border: none;
  padding: 10px 20px;
  background: linear-gradient(135deg, #32cd32, #00ff00);
  color: white;
  box-shadow: 0 0 5px rgba(0, 255, 0, 0.8), 0 0 20px rgba(0, 255, 0, 0.8);
  transition: all 0.3s ease;
}

.button-coins:hover {
  background: linear-gradient(135deg, #00ff00, #32cd32);
  box-shadow: 0 0 10px rgba(0, 255, 0, 1), 0 0 40px rgba(0, 255, 0, 1);
  transform: scale(1.05); /* Optional: adds a subtle zoom effect */
}

.gradient-text {
  background: linear-gradient(90deg, #facc15, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo-container {
  display: flex;
  align-items: center;
  height: 100%;
}

.logo-button {
  max-height: 5vh; /* Prevents oversized logos */
}

.logo-container img {
  height: 100%;
  max-height: 5vh; /* Prevents oversized logos */
  width: auto;
  object-fit: contain;
}


.game-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 12px;
  background-color: #333; /* or your preferred color */
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  height: 40px;
}

.navbarMineblast-logo img {
  width: fit-content; /* Adjust size as needed */
  height: fit-content;
  max-height: 3vh;
  object-fit: contain;
}
